/*
------------------------------------------
*/
@media (min-width: 1560px) and (max-width: 1750px) {
    [class*="__container"]{
        width: 94.69%;
    }

/*  1-Header
*/
    header .logo_header {
        margin-left: 55px;
    }

/*  2-mySwiper 1
*/

    .swiper .slide11{
        background-color: #196388;
        opacity: 0.95;

        margin-left: 3%;
        margin-bottom: 0px;
    }



/*  3-mySwiper 2
*/
    .swiper .slidetext {
        font-size: 36px;
        line-height: 125%;
    }

    .swiper .slidetext2 {
        font-size: 17px;
        padding: 15px 0px 0px 0px;
    }

    .swiper .swiper-buttonall2 .swiper-buttonprev2 {
        left: 3%;
        position: relative;
        z-index: 4;
        cursor: pointer;
    }

    .swiper .swiper-buttonall2 {
        width: 94%;
    }

/*  4-Tabs-Каталог товарів
*/
    .tabs2__content .tabs_list_content {
        margin: 0px 2px 0px 2px;
        margin-top: 25px;
    }

    .tabs2 .tabs2__nav {
        padding: 0px 10px 10px 10px;
      }

    .tabs2__content .tabs_list {
        justify-content: space-around;
    }

/*  5-Pro nas
*/ 
    .pronas_h:hover .pronas_l{
        position: relative;
        z-index: 3;
      
        transform: translateX(322px);
        transition: 3s ease-in-out;
    }

/*  6-Consultant
*/


/*  7-Footer-Start 
*/
    .footer .footer_right{

    }

/*  8-Indent
*/ 
    body .indent_109 {
        height: 50px;
    }

    body .indent_100 {
        height: 50px;
    }

}

/*
------------------------------------------
*/

@media (min-width: 1300px) and (max-width: 1559px) {
    [class*="__container"]{
        width: 94.69%;
    }


/*  1-Header
*/
    header .logo_header {
        margin-left: 55px;
    }

    header .logo_headertext {
        display: none;
    }

    header .header_item0 {
        margin-right: 15px;
    }


/*  2-mySwiper 1
*/

    .swiper .slide11{
        background-color: #196388;
        opacity: 0.95;

        margin-left: 3%;
        margin-bottom: 0px;
    }



/*  3-mySwiper 2
*/
    .swiper .slidetext {
        font-size: 34px;
        line-height: 125%;
    }

    .swiper .slidetext2 {
        font-size: 13px;
        padding: 15px 0px 0px 0px;
    }

    .swiper .swiper-buttonall2 .swiper-buttonprev2 {
        left: 3%;
        position: relative;
        z-index: 4;
        cursor: pointer;
    }

    .swiper .swiper-buttonall2 {
        width: 94%;
        top: -240px;
    }

/*  4-Tabs-Каталог товарів
*/
    .tabs2__content .tabs_list {
        justify-content: space-around;
    }

    .tabs2__content .tabs_list_content {
        margin: 0px 2px 0px 2px;
        margin-top: 25px;
    }

    .tabs2 .tabs2__nav {
        padding: 0px 10px 10px 10px;
    }

/*  5-Pro nas
*/
    .pronas_h .pronas_l{
        position: relative;
        z-index: 3;
    
        width: 42%;
        background-image: none;
    }

/*  6-Consultant
*/
    .wrapper .consultant_all {
        justify-content: center;
    }

    .wrapper .consultant_left {
        display: none;
    }

/*  7-Footer-Start 
*/

/*  8-Indent
*/
    body .indent_109 {
        height: 50px;
    }

    body .indent_100 {
        height: 25px;
    }

    body .header_mySwiper3  {
        padding-bottom: 25px;
    }


}

/*
------------------------------------------
*/

@media (min-width: 1088px) and (max-width: 1299px) {
    [class*="__container"]{
        width: 94.69%;
    }


/*  1-Header
*/


    header .logo_header,
    header .logo_headertext {
        display: none;
    }

    header .header_item0 {
        margin-right: 10px;
    }

    header .right_header .mnu_top3 li a,
    header .left_header .mnu_top3 li a{
        font-size: 16px;
        margin-right: 5px;   
    }

    header .mnu_top3 a,
    header .mnu_top3_right .mnu_top3 li a{
        font-size: 16px;
    }

    header .mnu_top3_right .mnu_top3 li a{
        margin-right: 5px;
    }


    header .right_header .mnu_top3 li .header_itemlast {
        margin-right: 0px;
    }

    header .header_icon1,
    header .header_icon2 {
        margin-right: 10px;
    }
    
    header .header_icon3 {
        margin-right: 25px;
    }

    .header_hr {
        display: none;
    }

    header .right_header {
        margin-bottom: 5px;
    }

/*  2-mySwiper 1
*/

    .swiper-all {
        max-width: 1920px;
        width: 100%;
        margin-top: 116px;
    }


    .swiper .swiper-image{
        background-image: url('../img/bedwrap1299.png');
    }

    .swiper .slide11{
        background-color: #196388;
        opacity: 0.95;

        width: 344px;
        height: 500px;
        margin-left: 3.3%;
        margin-bottom: 0px;
    }

    .swiper .slidetext11_h1 {
        padding: 90px 0px 50px 0px;
        font-size: 48px;
    }

    .swiper .slidetext11_b,
    .swiper .slidetext11 {
        font-size: 26px;
        line-height: 110%;
    }

    .swiper .button_slide11 {
        margin: 30px 72px 40px 72px; 
    }

    .swiper .swiper-buttonall {
        margin-left: 40%;
    }



/*  3-mySwiper 2
*/
    .swiper .slidetext {
        font-size: 26px;
        line-height: 125%;
    }

    .swiper .slidetext2 {
        font-size: 11px;
        padding: 10px 0px 0px 0px;
    }

    .swiper .swiper-buttonall2 .swiper-buttonprev2 {
        left: 3%;
        position: relative;
        z-index: 4;
        cursor: pointer;
    }

    .swiper .swiper-buttonall2 {
        width: 94%;
        top: -210px;
    }

    .swiper .swiper-slide:hover .slide_mySwiper2 {
        position: relative;
        z-index: 3;
    
        transform: translateY(-26px);
        color: #ffffff;
    }

/*  4-Tabs-Каталог товарів
*/ 
    .tabs2__content .tabs_list {
        justify-content: center;
    }

    .tabs2__content .tabs_list_content {
        margin: 0px 5px 0px 5px;
        margin-top: 25px;
    }

    .tabs2 .tabs2__nav {
        padding: 0px 5px 10px 5px;
    }

/*  5-Pro nas
*/
    .pronas_h .pronas_l{
        background-color: #000;
        opacity: 0.7;
        margin: 30px 0px 30px 0px;

        padding: 4% 4%;
        background-image: none;
    }

    .pronas_h .pronas_lefter {
        color: #ffffff;
    }

/*  6-Consultant
*/
    .wrapper .consultant_all {
        justify-content: center;
    }

    .wrapper .consultant_left {
        display: none;
    }

    .wrapper .consultant_right {
        margin: 50px 0px 60px 0px;
        width: 370px;
        height: 325px;
        background-color: #000;
        opacity: 0.8;
    }

    .wrapper .form_button {
        width: 300px;
        height: 35px;
        top: 8px;
    }

    .wrapper input {
        width: 300px;
        height: 35px;

        padding: 7px 15px 5px 15px;
        font-size: 16px;
    }

    .wrapper .form_text {
        font-size: 16px;
    }

    .wrapper .consultant_form_text {
        font-size: 27px;
        padding: 0px 0px 20px 0px;
        color: #FFFFFF;
    }
    
    .wrapper .consultant_form_text2 {
        font-size: 15px;
        line-height: 115%;
        padding: 25px 0px 0px 0px; 
        color: #FFFFFF;
    }

    .wrapper .consultant_form {
        padding: 25px 35px 25px 35px;

    }

/*  7-Footer-Start 
*/

/*  8-Indent
*/   
    body .indent_109 {
        height: 50px;
    }

    body .indent_100 {
        height: 25px;
    }

    body .header_mySwiper3  {
        padding-bottom: 25px;
        font-size: 34px;
    }

    .header_mySwiper3 .indent_2050{
        width: 12px;
        height: 34px;

        top: 4px;
        left: 10px; 
    }

}

/*
------------------------------------------
*/

@media (min-width: 832px) and (max-width: 1087px) {
    [class*="__container"]{
        width: 94.69%;
    }


/*  1-Header
*/

    .swiper-all {
    max-width: 1920px;
    width: 100%;
    margin-top: 0px;
    }
    .header_all {
        width: 100%;
        background-color: transparent;
    }
    .display_none {
        display: none;
    }
    header .header_wrapper {
        margin-top: 0px;      
        margin-bottom: 0px;
    }

    
/* 
    Меню
*/
    .mnu_top [type="checkbox"],
    .mnu_top label.toggleSubmenu{
     display: none;
    }
    .mnu_top label.toggleMenu{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
     background: rgb(201,201,201); /* Old browsers */
     background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */
    
     display: none;
     padding: 15px 40px;
     text-transform: uppercase;
     font-size: 14px;
     cursor: pointer;
     position: relative;
    }
    
    .mnu_top label.toggleMenu .fa{
     position: absolute;
     top: 15px;
     left: 12px;
     font-size: 18px;
    }


       .mnu_top > ul li > a i.fa{
        position: absolute;
        top: 5px;
        left: 12px;
        font-size: 18px;
       }

       .mnu_top li > ul li a{
        padding: 5px;
        text-transform: none;
        background: #e4e4e5;
       }

       .mnu_top{
        overflow: hidden;
        display: block;
        width: 100%;
        background-color: #fff;
       }
       .mnu_top ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
       }
       .mnu_top li>ul li ul{
        position: absolute;
        right: auto;
        top: auto;
       }
       .mnu_top label.toggleMenu{
        display: block;
       }
       input.toggleMenu:checked + label.toggleMenu{
        background: #000;
        color: #fff;
       }
       input.toggleMenu:checked ~ ul,
       input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
       }
       .mnu_top label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
       }
       input.toggleSubmenu:checked ~ a{
        background: #454547;
        color: #fff;
       }
       .mnu_top label.toggleSubmenu .fa:before{
        content: "\f0d7";
        color: #454547;
       }
       .mnu_top label.toggleSubmenu .fa{
        position: absolute;
        top: 7px;
        right: 30px;
       }
       .mnu_top input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d8";
        color: #ffffff;
       }



/*  2-mySwiper 1
*/
   
    .swiper .swiper-image{
        background-image: url('../img/bedwrap1087.png');
    }

    .swiper .slide11{
        background-color: #196388;
        opacity: 0.95;

        width: 306px;
        height: 404px;
        margin-left: 3.3%;
        margin-bottom: 0px;
        background-image: none;
    }

    .swiper .slidetext11_h1 {
        padding: 70px 0px 30px 0px;
        font-size: 42px;
    }

    .swiper .slidetext11_b {
        font-size: 26px;
        line-height: 110%;
        padding-bottom: 10px;
    }

    .swiper .slidetext11 {
        font-size: 22px;
        line-height: 100%;
    }

    .swiper .button_slide11 {
        margin: 20px 50px 20px 50px;
        padding: 12px 46px 12px 46px; 
    }

    .swiper .swiper-buttonall {
        margin-left: 41.5%;
        width: 55px;
    }


    .swiper .slidelist_prev {
        font-size: 32px;
    }
    
    .swiper .slidelist_next {	
        font-size: 21px;
    }

    .swiper .swiper-buttonnext,
    .swiper .swiper-buttonprev {
        width: 25px;
        height: 25px;  
    }
    

/*  3-mySwiper 2
*/

    .slider2 {
        display: none;
    }

    body .slider_none {
        display: none;
    }


/*  4-Tabs-Каталог товарів
*/
    .tabs2__content .tabs_list {
        justify-content: center;
    }

    .tabs2__content .tabs_list_content {
        margin: 0px 2px 0px 2px;
        margin-top: 25px;
    }

    .tabs2 .tabs2__nav {
        padding: 0px 5px 10px 5px;
    }

/*  5-Pro nas
*/
    .pronas_h .pronas_l{
        background-color: #000;
        opacity: 0.7;
        margin: 30px 0px 30px 0px;

        padding: 4% 4%;
        height: 345px;
        background-image: none;
    }

    .pronas_h .pronas_lefter {
        color: #ffffff;
        font-size: 15px;
    }

    .pronas_h .pronas_text {
        margin: 0px 0px -10px 0px; 
    }

/*  6-Consultant
*/ 
    .wrapper .consultant_all {
        justify-content: center;
        background-image: url('../img/consult1087.png');
    }

    .wrapper .consultant_left {
        display: none;
    }

    .wrapper .consultant_right {
        margin: 50px 0px 60px 0px;
        width: 370px;
        height: 325px;
        background-color: #000;
        opacity: 0.8;
    }

    .wrapper .form_button {
        width: 300px;
        height: 35px;
        top: 8px;
    }

    .wrapper input {
        width: 300px;
        height: 35px;

        padding: 7px 15px 5px 15px;
        font-size: 16px;
    }

    .wrapper .form_text {
        font-size: 16px;
    }

    .wrapper .consultant_form_text {
        font-size: 27px;
        padding: 0px 0px 20px 0px;
        color: #FFFFFF; 
    }

    .wrapper .consultant_form_text2 {
        font-size: 15px;
        line-height: 115%;
        padding: 25px 0px 0px 0px;
        color: #FFFFFF; 
    }

    .wrapper .consultant_form {
        padding: 25px 35px 25px 35px;
    }

/*  7-Footer-Start 
*/

/*  8-Indent
*/
    body .indent_109 {
        height: 25px;
    }

    body .indent_100 {
        height: 25px;
    }

    body .header_mySwiper3  {
        padding-bottom: 25px;
        font-size: 30px;
    }

    .header_mySwiper3 .indent_2050{
        width: 10px;
        height: 30px;

        top: 4px;
        left: 8px; 
    }
}

/*
------------------------------------------
*/

@media (min-width: 700px) and (max-width: 831px) {
    [class*="__container"]{
        width: 94.69%;
    }


/*  1-Header
*/

.swiper-all {
    max-width: 1920px;
    width: 100%;
    margin-top: 0px;
    }
    .header_all {
        width: 100%;
        background-color: transparent;
    }
    .display_none {
        display: none;
    }
    header .header_wrapper {
        margin-top: 0px;      
        margin-bottom: 0px;
    }

    
/* 
    Меню
*/
    .mnu_top [type="checkbox"],
    .mnu_top label.toggleSubmenu{
     display: none;
    }
    .mnu_top label.toggleMenu{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
     background: rgb(201,201,201); /* Old browsers */
     background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */
    
     display: none;
     padding: 15px 40px;
     text-transform: uppercase;
     font-size: 14px;
     cursor: pointer;
     position: relative;
    }
    
    .mnu_top label.toggleMenu .fa{
     position: absolute;
     top: 15px;
     left: 12px;
     font-size: 18px;
    }


       .mnu_top > ul li > a i.fa{
        position: absolute;
        top: 5px;
        left: 12px;
        font-size: 18px;
       }

       .mnu_top li > ul li a{
        padding: 5px;
        text-transform: none;
        background: #e4e4e5;
       }

       .mnu_top{
        overflow: hidden;
        display: block;
        width: 100%;
        background-color: #fff;
       }
       .mnu_top ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
       }
       .mnu_top li>ul li ul{
        position: absolute;
        right: auto;
        top: auto;
       }
       .mnu_top label.toggleMenu{
        display: block;
       }
       input.toggleMenu:checked + label.toggleMenu{
        background: #000;
        color: #fff;
       }
       input.toggleMenu:checked ~ ul,
       input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
       }
       .mnu_top label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
       }
       input.toggleSubmenu:checked ~ a{
        background: #454547;
        color: #fff;
       }
       .mnu_top label.toggleSubmenu .fa:before{
        content: "\f0d7";
        color: #454547;
       }
       .mnu_top label.toggleSubmenu .fa{
        position: absolute;
        top: 7px;
        right: 30px;
       }
       .mnu_top input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d8";
        color: #ffffff;
       }
    








/*  2-mySwiper 1
*/


    .swiper .swiper-image{
        background-image: url('../img/bedwrap831.png');
    }

    .swiper .slide11{
        background-color: #196388;
        opacity: 0.90;

        width: 233px;
        height: 339px;
        margin-left: 3.3%;
        margin-bottom: 0px;
        background-image: none;
    }

    .swiper .slidetext11_h1 {
        padding: 85px 0px 35px 0px;
        font-size: 34px;
    }

    .swiper .slidetext11_b {
        font-size: 24px;
        padding-bottom: 5px;
    }

    .swiper .slidetext11 {
        display: none;
    }

    .swiper .button_slide11 {
        margin: 10px 30px 15px 30px;
        padding: 10px 25px 10px 25px; 
        font-size: 16px;
    }

    .swiper .swiper-buttonall {
        margin-left: 40.5%;
        width: 45px;
    }

    .swiper .slidelist_prev {
        font-size: 28px;
    }

    .swiper .slidelist_next {	
        font-size: 18px;
    }

    .swiper .swiper-buttonnext,
    .swiper .swiper-buttonprev {
        width: 20px;
        height: 20px;  
    }


/*  3-mySwiper 2
*/

    .slider2 {
        display: none;
    }

    body .slider_none {
        display: none;
    }

/*  4-Tabs-Каталог товарів
*/
    .tabs2__content .tabs_list_content {
        margin: 0px 2px 0px 2px;
    }

    .tabs2__content .tabs_list {
        justify-content: center;
    }

    .tabs2 .tabs2__nav {
        padding: 0px 10px 10px 10px;
    }

    .tabs2__content .tabs_list_content {
        margin-top: 25px;
        width: 360px;
        height: 221px;
    }

    .tabs_list .tabs_content{
        object-fit:cover ;
        width: 360px;
        height: 184px;
    }

    .tabs_list .tabs_img21{
        background: url('../img/bed1_small.png');
        }
    .tabs_list .tabs_img22{
        background: url('../img/bed2_small.png');
    }
    .tabs_list .tabs_img23{
        background: url('../img/bed3_small.png');
    }
    .tabs_list .tabs_img24{
        background: url('../img/bed4_small.png');
    }
    .tabs_list .tabs_img25{
        background: url('../img/bed5_small.png');
    }
    .tabs_list .tabs_img26{
        background: url('../img/bed6_small.png');
    }

    .tabs_list .text_10{
        width: 360px;
        height: 37px;
    }

    .tabs_list .text_1,
    .tabs_list .text_2,
    .tabs_list .text_2_red{
        font-size: 12px;
    }

    .tabs_list .text_3 {
        font-size: 10px;
    }

    .tabs_list .text_w {
        position: relative;
        z-index: 3;
        top: -128px;
    }

    .tabs_list .first_piknew {
        position: relative;
        z-index: 3;
        top: -30px;
        left: -120px;
    }

    .tabs_list .first_pikhit {
        position: relative;
        z-index: 3;
        top: -30px;
        left: -108px;
    }

    .tabs_list .second_piksale{
        position: relative;
        z-index: 3;
        top: -20px;
        left: -138px;
    }

/*-------*/
    body .button_catalog {
        padding: 25px 0px 0px 0px;
    }

    .button_catalog .form_button_catalog {
        width: 140px;
        height: 37px;
        border-radius: 3px;
    }

    .button_catalog .form_text {
        font-size: 16px;
    }

/*  5-Pro nas
*/
    .pronas_h .pronas_l{
        background-color: #000;
        opacity: 0.7;
        margin: 30px 0px 30px 0px;

        padding: 4% 4%;
        height: 345px;
        background-image: none;
    }

    .pronas_h .pronas_lefter {
        color: #ffffff;
        font-size: 15px;
    }

    .pronas_h .pronas_text {
        margin: 0px 0px -10px 0px; 
    }

/*  6-Consultant
*/ 
    .wrapper .consultant_all {
        justify-content: center;
        background-image: url('../img/consult831.png');
    }

    .wrapper .consultant_left {
        display: none;
    }

    .wrapper .consultant_right {
        margin: 0px 0px 0px 0px;
        width: 370px;
        height: 325px;
        background-color: #000;
        opacity: 0.8;
    }

    .wrapper .form_button {
        width: 300px;
        height: 35px;
        top: 8px;
    }

    .wrapper input {
        width: 300px;
        height: 35px;

        padding: 7px 15px 5px 15px;
        font-size: 16px;
    }

    .wrapper .form_text {
        font-size: 16px;
    }

    .wrapper .consultant_form_text {
        font-size: 27px;
        padding: 0px 0px 20px 0px;
        color: #fff;
    }

    .wrapper .consultant_form_text2 {
        font-size: 15px;
        line-height: 115%;
        padding: 25px 0px 0px 0px;
        color: #fff;
    }

    .wrapper .consultant_form {
        padding: 25px 35px 25px 35px;
        background-image: url('../img/rectangle2.png');
    }


/*  7-Footer-Start 
*/

    body .footer-col,
    body .footer-col2{
        padding-top: 25px;
    }
    body .footer-col3{
        padding-top: 25px;
        padding-bottom: 20px;
    }


/*  8-Indent
*/   
    body .indent_109 {
        height: 25px;
    }

    body .indent_100 {
        height: 25px;
    }

    body .header_mySwiper3  {
        padding-bottom: 25px;
        font-size: 22px;
    }

    .header_mySwiper3 .indent_2050{
        width: 8px;
        height: 26px;

        top: 1px;
        left: 7px; 
    }


}

/*
------------------------------------------
*/

@media (max-width: 699px) {
    [class*="__container"]{
        width: 94.69%;
    }


/*  1-Header
*/

    .swiper-all {
    max-width: 1920px;
    width: 100%;
    margin-top: 0px;
    }
    .header_all {
        width: 100%;
        background-color: transparent;
    }
    .display_none {
        display: none;
    }
    header .header_wrapper {
        margin-top: 0px;      
        margin-bottom: 0px;
    }

    
/* 
    Меню
*/
    .mnu_top [type="checkbox"],
    .mnu_top label.toggleSubmenu{
     display: none;
    }
    .mnu_top label.toggleMenu{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
     background: rgb(201,201,201); /* Old browsers */
     background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */
    
     display: none;

     padding-left: 40px;
     padding-top: 5px;
     padding-bottom: 5px;



     text-transform: uppercase;
     font-size: 12px;
     cursor: pointer;
     position: relative;
    }
    
    .mnu_top label.toggleMenu .fa{
     position: absolute;
     top: 5px;
     left: 12px;
     font-size: 14px;
    }


       .mnu_top > ul li > a i.fa{
        position: absolute;
        top: 9px;
        left: 12px;
        font-size: 14px;
       }

       .mnu_top li > ul li a{
        padding: 5px;
        text-transform: none;
        background: #e4e4e5;
       }

       .mnu_top{
        overflow: hidden;
        display: block;
        width: 100%;
        background-color: #fff;
       }
       .mnu_top ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
       }
       .mnu_top li>ul li ul{
        position: absolute;
        right: auto;
        top: auto;
       }
       .mnu_top label.toggleMenu{
        display: block;
       }
       input.toggleMenu:checked + label.toggleMenu{
        background: #000;
        color: #fff;
       }
       input.toggleMenu:checked ~ ul,
       input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
       }
       .mnu_top label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
       }
       input.toggleSubmenu:checked ~ a{
        background: #454547;
        color: #fff;
       }
       .mnu_top label.toggleSubmenu .fa:before{
        content: "\f0d7";
        color: #454547;
       }
       .mnu_top label.toggleSubmenu .fa{
        position: absolute;
        top: 7px;
        right: 30px;
       }
       .mnu_top input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d8";
        color: #ffffff;
       }






/*  2-mySwiper 1
*/
 

    .swiper .swiper-image{
        background-image: url('../img/bedwrap550.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .swiper .slide11{
        background-color: #196388;
        opacity: 0.85;

        width: 220px;
        height: 224px;
        margin-left: 4%;
        margin-bottom: 0px;
        background-image: none;
        color: rgb(255, 255, 255);
    }

    .swiper .slidetext11_h1 {
        padding: 40px 0px 30px 0px;
        font-size: 20px;
    }

    .swiper .slidetext11_b {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .swiper .slidetext11 {
        display: none;
    }

    .swiper .button_slide11 {
        margin: 5px 50px 15px 50px;
        padding: 7px 20px 7px 20px; 
        font-size: 12px;
    }

    .swiper .swiper-buttonall {
        margin-left: 40%;
        width: 45px;
    }

    .swiper .slidelist_prev {
        font-size: 20px;
    }

    .swiper .slidelist_next {	
        font-size: 15px;
    }

    .swiper .swiper-buttonnext,
    .swiper .swiper-buttonprev {
        width: 21px;
        height: 21px;  
    }

    .swiper .swiper-buttonnext:hover,
    .swiper .swiper-buttonprev:hover{
        background-color: orange;
    }


/*  3-mySwiper 2
*/

    .slider2 {
        display: none;
    }

    body .slider_none {
        display: none;
    }

/*  4-Tabs-Каталог товарів
*/



    .tabs_content-1,
    .tabs_content-2,
    .tabs_content-3,
    .tabs_content-4,
    .tabs_content-5,
    .tabs_content-6{
        font-size: 12px;
    }

    .tabs_pik20 {
        display:flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;  
    }

    .tabs2 .tabs2__nav .tabs2__btn .tabs_pik_none {
        display: none;
    }

    .tabs2 .tabs2__nav {
        padding: 0px 0px 0px 0px;
      }




    .tabs2__content .tabs_list_content {
    margin: 0px 2px 0px 2px;
    }

    .tabs2__content .tabs_list {
        justify-content: center;
    }


    .tabs2__content .tabs_list_content {
        margin-top: 25px;
        width: 360px;
        height: 221px;
    }

    .tabs_list .tabs_content{
        object-fit:cover ;
        width: 360px;
        height: 184px;
    }

    .tabs_list .tabs_img21{
        background: url('../img/bed1_small.png');
        }
    .tabs_list .tabs_img22{
        background: url('../img/bed2_small.png');
    }
    .tabs_list .tabs_img23{
        background: url('../img/bed3_small.png');
    }
    .tabs_list .tabs_img24{
        background: url('../img/bed4_small.png');
    }
    .tabs_list .tabs_img25{
        background: url('../img/bed5_small.png');
    }
    .tabs_list .tabs_img26{
        background: url('../img/bed6_small.png');
    }

    .tabs_list .text_10{
        width: 360px;
        height: 37px;
    }

    .tabs_list .text_1,
    .tabs_list .text_2,
    .tabs_list .text_2_red{
        font-size: 12px;
    }

    .tabs_list .text_3 {
        font-size: 10px;
    }

    .tabs_list .text_w {
        position: relative;
        z-index: 3;
        top: -128px;
    }

    .tabs_list .first_piknew {
        position: relative;
        z-index: 3;
        top: -30px;
        left: -120px;
    }

    .tabs_list .first_pikhit {
        position: relative;
        z-index: 3;
        top: -30px;
        left: -108px;
    }

    .tabs_list .second_piksale{
        position: relative;
        z-index: 3;
        top: -20px;
        left: -138px;
    }

/*-------*/
    body .button_catalog {
        padding: 25px 0px 0px 0px;
    }


    .button_catalog .form_button_catalog {
        width: 140px;
        height: 37px;
        border-radius: 3px;
    }

    .button_catalog .form_text {
        font-size: 16px;
    }

/*  5-Pro nas
*/
    .pronas_h .pronas_l{
        background-color: #000;
        opacity: 0.7;
        margin: 15px 0px 0px 0px;

        padding: 4% 4%;
        height: 325px;
        background-image: none;
    }

    .pronas_h .pronas_lefter {
        color: #ffffff;
        font-size: 12px;
    }

    .pronas_h .pronas_text {
        margin: 0px 0px -10px 0px; 
    }

/*  6-Consultant
*/  
    .wrapper .consultant_all {
        justify-content: center;
        background-image: url('../img/consult699.png');
    }

    .wrapper .consultant_left {
        display: none;
    }

    .wrapper .consultant_right {
        margin: 0px 0px 0px 0px;
        width: 210px;
        height: 190px;
        background-color: #000;
        opacity: 0.8;
    }

    .wrapper .form_button {
        width: 160px;
        height: 22px;
        top: 5px;

    }

    .wrapper input {
        width: 160px;
        height: 20px;

        padding: 5px 15px 5px 15px;
        font-size: 10px;
    }

    .consultant_form_input1::placeholder,
    .consultant_form_input2::placeholder {
        font-size: 12px;
    }

    .wrapper .form_text {
        font-size: 12px;
    }

    .wrapper .consultant_form_text {
        font-size: 15px;
        padding: 0px 0px 5px 0px;
        color: #FFFFFF;
    }

    .wrapper .consultant_form_text2 {
        font-size: 8px;
        line-height: 115%;
        padding: 10px 0px 0px 0px; 
        color: #FFFFFF;
    }

    .wrapper .consultant_form {
        padding: 10px 20px 10px 25px;
        background-image: none;
    }


/*  7-Footer-Start 
*/


    body .footer-col,
    body .footer-col2{
        padding-top: 10px;
    }
    body .footer-col3{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    body .footer-col ul li,
    body .footer-col2 ul li {
        padding-bottom: 10px;
    }

    body .footer-col2{
        padding-left: 12%;
        padding-right: 5%;
     }

     body .footer-col,
     body .footer-col3 {
        padding-left: 12%;
     } 

     body .footer-col4{
        flex-wrap: wrap;
        justify-content: baseline;
     }

     body .footer-col4 div{
        padding-top: 10px;
     }

     body .footer-col1{
        display: none;
     } 



/*  8-Indent
*/   
    body .indent_109 {
        height: 25px;
    }

    body .indent_100 {
        height: 25px;
    }

    body .header_mySwiper3  {
        padding-bottom: 25px;
        font-size: 22px;
    }

    .header_mySwiper3 .indent_2050{
        width: 8px;
        height: 26px;

        top: 1px;
        left: 7px; 
    }


}

/*
------------------------------------------
*/