/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* normoliz end */







/* font start */
/* cuprum-regular - cyrillic */
@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/cuprum-v14-cyrillic-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/cuprum-v14-cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Regular.woff") format("woff"),
        url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}

/* font end */









html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

[class*="__container"]{
    max-width: 1848px;
    margin: 0px auto;

    padding: 0px 15px;
}

/* 
-----------------------------------------
*/



.wrapper{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.main {
    flex: 1 1 auto;
  }

a { 
    text-decoration: none;
   }


.header {
    top: 0;
    left: 0;
    width: 100%;
}

/*
----------------------------------------------
*/



/* Блок 1 - Перша частина Header
*/

 
body {
    font-family: "Proxima Nova";
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: #1e2e36;

    min-width: 360px;
    position: relative;
    opacity: 1;
    overflow-x: hidden;
}

.header_all {
    max-width: 1920px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
}






.header_wrapper {
    margin: 19px auto 19px auto;
    width: 94.69%;

    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    align-items: center;
    -ms-align-items: center;
    justify-content: space-between;
}

.header_icon1 {
    margin-left: 8px;
    margin-right: 30px;
}

.header_icon2 {
    margin-right: 29px;
}

.header_icon3 {
    margin-right: 54px;
}

header .mnu_top3 a{
    color: #1e2e36;
    text-decoration: none;
}

header .mnu_top3 .header_itemlast {
    margin-right: 0px;
}


/* Блок 1 - Друга частина Header
*/

.logo_header {
    max-width: 125px;
    margin: 15px 10px 15px 105px;
}

.logo_headertext {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
}

.logo_headertext::first-letter {
    color: #44C697;
}

.logo_headertext {
    display: inline-block;
}

img {
    max-width: 100%;
}

header .mnu_top3 {
    list-style-type: none;
}

header .mnu_top3 li{
    display: inline-block;
}

header .mnu_top3 li a{
    display: block;

    margin-right: 10px;
    font-size: 18px;
    line-height: 22.5px;
    color: #1e2e36;
    text-decoration: none;
}

header .right_header li{
    display: inline-block;
}

header .right_header li a{
    display: block;
    text-decoration: none;
}

.btn_green {
    background: #44C697;
    border-radius: 3px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    padding: 14px 46px 14px 46px;
}

.header_item:hover {
    box-shadow: 0px 3px 0px #44C697;
   }

.green {
    box-shadow: 0px 3px 0px #44C697;
   }

header .mnu_top3 .header_item0 {
    color: #1e2e36;
    text-decoration: none;
    margin-right: 25px;
}

.header_hr {
    width: 100%;
    height: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    opacity: 0.6;
    border: 1px solid #1e2e36;
    margin-bottom: 0;
    margin-top: 0;
}

.header_margin {
    margin-bottom: 0px;
    margin-top: 0px;
}







/*  Блок 1 - End Header*/








/*
	Блок 2 - Слайдер Swiper mySwiper1-Start
*/

.swiper-all {
    max-width: 1920px;
    width: 100%;
    margin-top: 165px;
  }


.swiper-image {
    background-image: url('../img/bedwrap1.png');

    display: block;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}


.swiper {
    max-width: 1920px;
    max-height: 785px;  
    margin: 0 auto;
    
  }

  
.swiper-slide img{
   
    display: block;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }


.slide11 {
    position: relative;
    z-index: 2;
    width: 462px;
    height: 670px;

    background-color: #ffffff;
	box-sizing: border-box;
	text-align: center;

    margin: 0px 0px 115px 43px;
    background-image: url('../img/rectangle_slide.png');
    background-repeat: no-repeat;
    background-position: left;
}

.slidetext11 {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
    line-height: 45px;
}

.slidetext11_b {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 700;	
	font-size: 36px;
	line-height: 125%;
}

.slidetext11_h1 {
    position: relative;
    padding: 99px 0px 50px 0px;

	font-size: 64px;
	font-style: normal;
	font-weight: bold;
	font-family: Proxima Nova;
	line-height: 100%;
}

.button_slide11 {

    background: #44C697;
    border-radius: 3px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;

	text-align: center;
	padding: 14px 46px 14px 46px;
    margin: 48px 127px 50px 127px; 
}

.slidelist_prev {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 700;	
	font-size: 36px;
	line-height: 125%;
}

.slidelist_next {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 700;	
	font-size: 24px;
	line-height: 125%;
}

.swiper-buttonnext {
	width: 30px;
    height: 30px;  
}


.swiper-buttonprev {
	width: 30px;
    height: 30px;
}

.swiper-buttonall {
	width: 68px;
    height: 30px;

	display: flex;
    flex-wrap: wrap;  
	justify-content: space-between;

    margin-left: 197px;
    padding-bottom: 128px;
	cursor: pointer;
}




/*
	Блок 2 - Слайдер Swiper mySwiper1-End
*/




/*   
	Блок 3 - Слайдер Swiper mySwiper2-Start
*/


.slider2 {
    max-width: 1920px;
}


.mySwiper2 {
    max-width: 1818px;
    margin: 0 auto; 
  }


.slide_mySwiper2 {
    width: 586px;
    height: 124px;

    max-width: 586px;
    max-height: 350px;
    margin: 0px 30px 30px 30px;

    margin-top: -78px;
    position: relative;
    z-index: 3;
    transition: all 1s;
    opacity: 0.9;
	cursor: pointer;
}

.slidetext {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;

    border-bottom: 3px solid #44C697;
}

.slidetext2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: transparent;
    padding: 15px 0px 0px 0px;
}



.swiper-slide:hover .slide_mySwiper2 {
    position: relative;
    z-index: 3;
  
    transform: translateY(-46px);
    color: #ffffff;
}

.swiper-slide:hover .slidetext2 {
    transition: all 1s;
    color: #ffffff;
   }

.swiper-buttonnext2 {
	width: 32px;
    height: 32px;  
}

.swiper-buttonprev2 {
	width: 32px;
    height: 32px;
}

.swiper-buttonall2 {
	width: 1780px;
    height: 30px;

	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	top: -266px;
	left: 19px;
	position: relative;
    z-index: 4;
	cursor: pointer;
}

.swiper-slide_photo {
    max-width: 586px;
    max-height: 350px;
	cursor: pointer;	
  }


/*   
	Блок 3 - Слайдер Swiper mySwiper2-End
*/







/* Блок 4 Tabs version 1
-------------------------------

.container2 {
    max-width: 1818px;
    margin: 0 auto; 

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;

    text-decoration: none;
    text-align: center;
    background-color: rgb(197, 240, 9);
  }

.tabs {
    display: flex;
    flex-direction: column;
  }





.tabs__links {
    display: flex;
    width: 100%;

    padding: 0px 0px 46px 0px;
  }

.tabs__links>a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
  }

      
.tabs__links>a:hover { 

  }

.tabs>#content-1:target~.tabs__links>a[href="#content-1"],
.tabs>#content-2:target~.tabs__links>a[href="#content-2"],
.tabs>#content-3:target~.tabs__links>a[href="#content-3"],
.tabs>#content-4:target~.tabs__links>a[href="#content-4"], 
.tabs>#content-5:target~.tabs__links>a[href="#content-5"],
.tabs>#content-6:target~.tabs__links>a[href="#content-6"] {

    cursor: default;
}



.tabs>div:not(.tabs__links) { 
    display: none;
    order: 1;
  }

.tabs>div:target { 
    display: block;  
  }


--------------------------------


.tabs_content-1:hover,
.tabs_content-2:hover,
.tabs_content-3:hover,
.tabs_content-4:hover,
.tabs_content-5:hover,
.tabs_content-60:hover{
    border-bottom: 1px solid #44C697;
}


.content_1{
    padding-left: 107px;
}

.content_2{
    padding-left: 199px;
}

.content_3{
    padding-left: 200px;
    padding-right: 200px;
}

.content_5{
    padding-left: 197px;
    padding-right: 200px;
}

*/




/*   
	Блок 4 - Tabs version 2 - Каталог товарів-Start
*/

.tabs_all {
    max-width: 1920px;
}

.tabs_content-1,
.tabs_content-2,
.tabs_content-3,
.tabs_content-4,
.tabs_content-5,
.tabs_content-6{
    position: relative;
    top: 10px;
    color: #000;
	padding: 0px 0px 10px 0px;

    font-family:Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
}


.tabs2 {
	max-width: 1818px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
  }

.tabs2__nav {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	background-color: #ffffff;
	margin: 0;

	width: 100%;
	padding: 0px 0px 36px 0px;
  }

.tabs3__nav {
    display: none;
}

.tabs_pik20 {
    display: none;
}




.tabs2__btn {
	text-decoration: none;
	color: black;
	text-align: center;
	flex-shrink: 0;
	flex-grow: 1;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #ffffff;
  }


.tabs2__btn_active {
	background-color: #c0f0de;
	cursor: default;
  }

.tabs2__pane {
	display: none;
  }

.tabs2__pane_show {
	display: block;
  }



/*
----------------------------------------
*/


.tabs_list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.tabs_list_content{
    width: 586px;
    height: 360px;
    margin: 50px 0px 0px 0px;
    cursor: pointer;
}

.tabs_list_content:hover{
    position: relative;
    z-index: 3;
  
    transform: translateY(-25px);
    transition: all 0.5s;
	background: #44C697;
   }

.tabs_content{
    width: 586px;
    height: 300px;
    object-fit: cover;

    position: relative;
    z-index: 1;
}


/* 
.tabs2__btn:not(.tabs2__btn_active):hover,
.tabs2__btn:not(.tabs2__btn_active):focus {
  }

.tabs_content:hover{
	transition: all 1.5s;
    color: #ffffff;
}

*/


.tabs_content:hover .text_2_red,
.tabs_content:hover .text_w,
.tabs_content:hover .text_3{
	transition: all 1.5s;
    color: #ffffff;
  }

.text_w {
    display:flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
    color: #000;
}

.text_10 {
    width: 586px;
    height: 60px;

    position: relative;
    top: 300px;
    z-index: 3;
}


.text_1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

}

.text_2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

}

.text_2_red {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    display:flex;
}

.text_3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

    text-decoration-line: line-through;
    color: #BCBDBB;
    padding: 1px 0px 0px 10px;
}


/* 

.text_21:not(:hover),
.text_21:not(:focus){
	color: red;
  }

*/


.text_2_red:not(:hover),
.text_2_red:not(:focus){
	color: red;
  }


.first_piknew {
    position: relative;
    top: -50px;
    left: -233px;
    text-align: center;
    z-index: 3;
}

.first_pikhit {
    position: relative;
    top: -50px;
    left: -221px;
    text-align: center;
}

.second_piksale {
    position: relative;
    top: -45px;
    left: -251px;
    text-align: center;
}


.tabs_img21{
    background: url('../img/bed1.png');
    }
.tabs_img22{
    background: url('../img/bed2.png');
}
.tabs_img23{
    background: url('../img/bed3.png');
}
.tabs_img24{
    background: url('../img/bed4.png');
}
.tabs_img25{
    background: url('../img/bed5.png');
}
.tabs_img26{
    background: url('../img/bed6.png');
}


.form_button_catalog {
    width: 190px;
    height: 51px;

    background: #44C697;
    border-radius: 3px;
    border: 0px solid ;
    position: relative;
}


.button_catalog {
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 50px 0px 0px 0px;
}


/*   
	Блок 4 - Tabs version 2 - Каталог товарів-End
*/






/*   
	Блок 5 - Pro nas-Start

.pronas_right {
    background: url('../img/pronas.png');
}
*/

.pronas_h {
	max-width: 1920px;
    background-image: url('../img/pronas.png');
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    position: relative;
    background-position: right;
}



.pronas_l {
    position: relative;
    z-index: 2;

    background-color: #ffffff;
    width: 806px;

    padding: 50px 45px 50px 51px;
    margin: 100px 0px 100px 0px;

    background-position: right;  
    background-image: url('../img/rectangle_long.png'); 
    background-repeat: no-repeat;
}

.pronas_text {
    margin: 0px 0px -5px 0px; 
}

.pronas_lefter {
    position: relative;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
}

.pronas_height {
    text-transform: uppercase;
    color: #44C697;
}



/*   
	Блок 5 - Pro nas-End
*/




/*   
	Блок 6 - Consultant (з формою "Замовте консультацію")-Start
*/


.consultant_all {
	max-width: 1920px;

    background-image: url('../img/consult.png');
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    position: relative;
    background-position: left;

    justify-content: space-between;
}


.consultant_form {
    padding: 50px 51px 50px 45px;

    background-image: url('../img/rectangle.png');
    background-position: left;
    background-repeat: no-repeat; 
}



.consultant_left {
    width: 100px;
    height: 100px;
}




.consultant_form_text {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;
    padding: 0px 0px 30px 0px;
}

.consultant_form_text2 {
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 125%;
    padding: 38px 0px 0px 0px; 
}

.consultant_right {
    position: relative;
    z-index: 2;
    width: 528px;
    height: 457px;

    background: #FFFFFF;
    margin: 100px 0px 118px 0px;

    display: flex;
}





input {
    width: 432px;
    height: 51px;
    border: 1px solid #1E2E36;
    border-radius: 3px;
    padding: 5px 15px 5px 15px; 
}

input::-webkit-input-placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
  }
  
input:-moz-placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
  }
  
input::-moz-placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
  }
  
input:-ms-input-placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
  }

.input2 {
    position: relative;
    z-index: 2;
    top: -7px;
}



.form_button {
    width: 432px;
    height: 51px;

    background: #44C697;
    border-radius: 3px;

    border: 0px solid ;
    position: relative;
    top: 8px;
}

.form_text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}




/*   
	Блок 6 - Consultant-End
*/


/*   
	Блок Indent
*/

.header_mySwiper3 {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 125%;

    padding-bottom: 50px;
    justify-content: center;
    position: relative;
    z-index: 2;
    max-width: 1920px;
}



.indent_100 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
}


.indent_2050 {
    width: 20px;
    height: 50px;

    background-color: #44C697;
    position: relative;
    z-index: -1;

    top: 5px;
    left: 15px; 
}

.indent_h1 {
    display: flex;
    flex-wrap: wrap;
    height: 112px;
    text-align: center;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 125%;

    justify-content: center;
}

/*
-------
*/

.indent_109 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 109px;
}

/*
----------------------------------------------
*/




/*   
	Блок 7 - Footer-Start
*/


.footer-col0 {
    width: 831px;
}

.footer_up {
    position: relative;
    z-index: 3;
    padding-left: 4.33%;
    top: -9px;
}

.container{
	max-width: 831px;
    background-color: #1E2E36;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	max-width: 1920px;
    background-image: url('../img/footer_right.png');

	width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    justify-content: flex-start;
}

.footer-col{
   padding-left: 6%;
   padding-top: 50px;
}

.footer-col ul li a::before,
.footer-col2 ul li a::before {
	content: '\2014\A0';
	color: #44C697;

  }

.footer-col ul li a{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;

	color: #ffffff;
	text-decoration: none;
}

.glyanec {
    color: #ffffff;
	text-decoration: none;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.glyanec2 {
    color: #ffffff;
	text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Cuprum;
}

.footer-col ul li,
.footer-col2 ul li {
    padding-bottom: 15px;
}

.footer_bottom {
    padding-bottom: 15px;
}

.footer_bottom2 {
    padding-bottom: 30px;
}

.footer_nbsp,
.footer_3 {
    padding-left: 29px;
}
.footer_1 {
    padding-left: 8px;
}
.footer_2 {
    padding-left: 30px;
}

.footer-col2{
    padding-left: 6%;
    padding-top: 50px;
    padding-right: 5%;
 }

 .footer-col3{
    padding-left: 6%;
    padding-top: 50px;
    padding-bottom: 83px;
 }

.footer-col2 ul li a{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;

	color: #ffffff;
	text-decoration: none;
}

.footer-col3 ul li a{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;

	text-decoration: none;
	color: #ffffff;
}

.green_color {
    color: #44C697;
}

.footer-col4 {
    display:flex;
    justify-content: space-between;

    width: 831px;
    padding-bottom: 15px;
    margin-left: 6%;
    margin-right: 7%;
}

.icon-glyanec {
    padding-right: 3px;  
}

.footer-col1 {
    display:flex;
    width: 831px;
}

.footer-image {
    margin-left: 6%;
}

.logo_footer {
    max-width: 125px;
    margin-right: 10px;
}

.logo_footertext {
    font-family: Proxima Nova;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;

    display: inline-block;
	color: #ffffff;
}

.logo_footertext::first-letter {
    color: #44C697;
}

/*   
	Блок 7 - Footer-End 
*/







.mnu_top{
    display: none;
   }




   .mnu_top li ul{
    position: absolute;
    min-width: 150px;
    display: none;
   }
   .mnu_top li > ul li{
    border: 1px solid #c7c8ca;
   }
   .mnu_top li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
   }
   .mnu_top li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
   }
   .mnu_top li:hover > ul{
    display: block;
   }





   .mnu_top *{
    margin: 0;
    padding: 0;
   }
   .mnu_top ul,
   .mnu_top ol{
    list-style: none;
   }
   .mnu_top > ul{
    display: flex;
    justify-content: center;
   }
   .mnu_top > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
   }
   .mnu_top > ul li:first-child{
    border-left: 1px solid #b2b3b5;
   }
   .mnu_top > ul li:last-child{
    border-right: 1px solid #babbbd;
   }
   .mnu_top > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
   }
   .mnu_top > ul li a{
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
    background: rgb(201,201,201); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */
   
    padding: 7px 30px 7px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
   }



   .mnu_top li a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
    background: rgb(224,225,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */
   
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }





/*

*/